body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.heading {
	font-family: 'Philosopher', sans-serif;
}

li {
	line-height: 1.5rem;
}

.large-yellow-button {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	 text-align: center;
	 border-radius: 4px;
	background-color: rgb(255, 233, 30);
	/* box-shadow: inset 0 0 0 0 rgb(255, 196, 3); */
	transition: ease-out 0.3s;
	font-size: 1.5rem;
	outline: none;
	margin: 5px;
}

.large-yellow-button:hover {
	cursor: pointer;
	box-shadow: inset 300px 0 0 0 rgb(255, 255, 255);
}